<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Document</title>
	</head>
	<body>
		<div class="min-h-screen flex flex-row">
			<div class="h-screen w-2/6">
				<ul class="flex flex-col justify-center h-full gap-10 p-5 text-xl">
					<li><a href="">dhgevdhevhj</a></li>
					<li><a href="">dhgevdhevhj</a></li>
					<li><a href="">dhgevdhevhj</a></li>
					<li><a href="">dhgevdhevhj</a></li>
					<li><a href="">dhgevdhevhj</a></li>
				</ul>
			</div>
			<div class="flex flex-wrap gap-5 justify-center items-center">
				<% products.forEach((product)=>{%>
				<div
					class="bg-[<%=product.bgcolor %>] shadow-lg border-1 rounded-md h-64 w-56">
					<div class="bg-[<%=product.pannelcolor %>]"><%= product.name %></div>
				</div>
				<%} )%>
			</div>
		</div>
	</body>
</html>
